XMLCCC.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
    <xs:documentation xml:lang="en">
     Contracting language - Schema file
     Version: xx
     Last updated: xx
    </xs:documentation>
  </xs:annotation>

   <xs:element name="config_model" type="ConfigModelType"/>

   <xs:complexType name="ConfigModelType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="binary" type="BinaryType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="component" type="ComponentType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="composite" type="CompositeType" minOccurs="0" maxOccurs="unbounded" />

       <!-- Nicht in der Dokumentation erwähnt, aber für Validierung erforderlich -->
       <xs:element name="system" type="SystemType" minOccurs="0" maxOccurs="unbounded"/>
       <!---->
     </xs:choice>

   </xs:complexType>

   <xs:complexType name="BinaryType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="component" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="name" type="xs:string" use="required"/>
           <xs:attribute name="version" type="xs:string"/>
         </xs:complexType>
       </xs:element>
     </xs:choice>
     <xs:attribute name="name" type="xs:string"/>
   </xs:complexType>

   <xs:complexType name="ComponentType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="provides" type="ProvidesType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="requires" type="RequiresType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="proxy" type="ProxyType" minOccurs="0" maxOccurs="unbounded"/>
       <xs:element name="filter" type="FilterType" minOccurs="0" maxOccurs="1" />
       <xs:element name="function" type="FunctionType" minOccurs="0" maxOccurs="unbounded"/>
       <xs:element name="mux" type="MuxType" minOccurs="0" maxOccurs="unbounded"/>
       <xs:element name="protocol" type="ProtocolType" minOccurs="0" maxOccurs="unbounded" />
       <!-- defaults hat in der Dokumentation type=any.
        Hier wurde sich jetzt an der example_stereo.xml orientiert -->
       <xs:element name="defaults" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
              <xs:element name="config" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:attribute name="rom" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
           </xs:choice>
         </xs:complexType>
       </xs:element>
     </xs:choice>
     <xs:attribute name="name" type="xs:string" use="required"/>
     <xs:attribute name="singleton" type="xs:string"/>
     <xs:attribute name="version" type="xs:string"/>
   </xs:complexType>

   <xs:complexType name="ProvidesType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
              <xs:attribute name="name" type="xs:string" use="required"/>
              <xs:attribute name="max_clients" type="xs:string"/>
              <xs:attribute name="filter" type="xs:string"/>
          </xs:complexType>
       </xs:element>
       <xs:element name="rte" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
              <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
       </xs:element>
     </xs:choice>
   </xs:complexType>

   <xs:complexType name="RequiresType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="exclude-component" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                 <xs:attribute name="name" type="xs:string" use="required"/>
                 <xs:attribute name="version_above" type="xs:string"/>
                 <xs:attribute name="version_below" type="xs:string"/>
               </xs:complexType>
             </xs:element>
           </xs:choice>
           <xs:attribute name="name" type="xs:string" use="required"/>
           <xs:attribute name="label" type="xs:string"/>
           <xs:attribute name="filter" type="xs:string"/>
           <xs:attribute name="function" type="xs:string"/>
         </xs:complexType>
       </xs:element>

       <xs:element name="rte" minOccurs="0" maxOccurs="1">
         <xs:complexType>
           <xs:attribute name="name" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>

       <xs:element name="spec" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="name" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
     </xs:choice>
   </xs:complexType>

   <xs:complexType name="ProxyType">
     <xs:attribute name="carrier" type="xs:string" use="required"/>
   </xs:complexType>

   <xs:complexType name="FilterType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="add" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="tag" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
       <xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="tag" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
       <xs:element name="reset" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="tag" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
     </xs:choice>
     <xs:attribute name="alias" type="xs:string"/>
   </xs:complexType>

   <xs:complexType name="FunctionType">
     <xs:attribute name="name" type="xs:string" use="required"/>
   </xs:complexType>

   <xs:complexType name="MuxType">
     <xs:attribute name="service" type="xs:string" use="required"/>
   </xs:complexType>

   <xs:complexType name="ProtocolType">
     <xs:attribute name="from" type="xs:string" use="required"/>
     <xs:attribute name="to" type="xs:string" use="required"/>
   </xs:complexType>

   <xs:complexType name="CompositeType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="provides" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                 <xs:attribute name="name" type="xs:string" use="required"/>
                 <xs:attribute name="max_clients" type="xs:string"/>
                 <xs:attribute name="filter" type="xs:string"/>
               </xs:complexType>
             </xs:element>
           </xs:choice>
         </xs:complexType>
       </xs:element>
       <xs:element name="requires" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                 <xs:attribute name="name" type="xs:string" use="required"/>
                 <xs:attribute name="label" type="xs:string"/>
                 <xs:attribute name="filter" type="xs:string"/>
                 <xs:attribute name="function" type="xs:string"/>
               </xs:complexType>
             </xs:element>
           </xs:choice>
         </xs:complexType>
       </xs:element>
       <xs:element name="proxy" type="ProxyType" minOccurs="0" maxOccurs="unbounded"/>
       <xs:element name="filter" type="FilterType" minOccurs="0" maxOccurs="1" />
       <xs:element name="mux" type="MuxType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="function" type="FunctionType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="protocol" type="ProtocolType" minOccurs="0" maxOccurs="unbounded" />
       <xs:element name="pattern" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="component" type="PatternComponentType" minOccurs="1" maxOccurs="unbounded"/>
           </xs:choice>
         </xs:complexType>
       </xs:element>
     </xs:choice>
     <xs:attribute name="name" type="xs:string"/>
   </xs:complexType>

   <xs:complexType name="PatternComponentType">
      <xs:choice maxOccurs="unbounded">
        <xs:element name="route" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="service" type="ServiceType" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="expose" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="config" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded">
              <xs:element name="left" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="right" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="name" type="xs:string" use="required"/>
   </xs:complexType>

   <xs:complexType name="ServiceType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="external" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <!-- In der Dokumentation ist type=?? -->
         </xs:complexType>
       </xs:element>
       <xs:element name="child" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <!-- In der Dokumentation ist type=??
              Hier wurde sich wieder an der example_stereo.xml orientiert. -->
           <xs:attribute name="name" type="xs:string"/>
         </xs:complexType>
       </xs:element>
     </xs:choice>
     <xs:attribute name="name" type="xs:string" use="required"/>
     <xs:attribute name="label" type="xs:string"/>
     <xs:attribute name="function" type="xs:string"/>
     <xs:attribute name="filter" type="xs:string"/>
   </xs:complexType>

   <xs:complexType name="SystemType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="spec" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="name" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
       <xs:element name="child" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:attribute name="function" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
       <xs:element name="subsystem" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="default-routes" type="DRoutesType" minOccurs="0" maxOccurs="unbounded"/>
             <xs:element name="child" type="ChildType" minOccurs="0" maxOccurs="unbounded"/>
           </xs:choice>
           <xs:attribute name="name" type="xs:string" use="required"/>
         </xs:complexType>
       </xs:element>
     </xs:choice>
   </xs:complexType>

   <xs:complexType name="ChildType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="route" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="service" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
                 <xs:choice maxOccurs="unbounded">
                   <xs:element name="function" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                     </xs:complexType>
                   </xs:element>
                 </xs:choice>
                 <xs:attribute name="name" type="xs:string" use="required"/>
               </xs:complexType>
             </xs:element>
           </xs:choice>
         </xs:complexType>
       </xs:element>
     </xs:choice>
     <xs:attribute name="function" type="xs:string"/>
     <xs:attribute name="component" type="xs:string"/>
   </xs:complexType>

   <xs:complexType name="DRoutesType">
     <xs:choice maxOccurs="unbounded">
       <xs:element name="any-service" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
           <xs:choice maxOccurs="unbounded">
             <xs:element name="parent" minOccurs="0" maxOccurs="unbounded"/>
           </xs:choice>
         </xs:complexType>
       </xs:element>
     </xs:choice>
   </xs:complexType>

</xs:schema>
